.card img {
    width: 120px;
}

.card {
    padding: 10px;
    height: 130px;
    border: 2px solid rgb(0, 0, 0);
}

.name {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 600px) {

    .card img {
        width: 80px;
    }

    .card {
        padding: 2px;
        height: 90px;
    }

    .name {
        font-size: 8px;
    }
}
