.blur {
    display: flex;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px;
    backdrop-filter: blur(10px);
    height: max-content;
    color: white;
    gap: 30px;
    
}

.acquisitions {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.blur > div {
    font-size: 40px;
    font-weight: 600;
}

.blur > h1 {
    align-self: center;
    font-weight: 400;
    width: 500px;
}
