.cartItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.centerItem {
    display: flex;
    align-items: center;
}

.cartItem > div {
    width: max-content;
    height: auto;
    padding: 0;
}

.cartItem img {
    width: 100px;
}

.cartItem > div > div {
    display: none;
}

.quanTd {
    gap: 20px;
    padding: 10px;
}

.amountBar {
    display: flex;
    justify-content: center;
}

.amountBar > div:first-child:hover {
    cursor: pointer;
    background-color: rgb(109, 72, 5);
}

.amountBar > div:nth-child(2):hover {
    cursor:default;
}

.amountBar > div:last-child:hover {
    cursor: pointer;
    background-color: rgb(109, 72, 5);
}

.border {
    border: 2px black solid;
    margin: -1px;
    padding: 3px 10px;
    background-color: rgb(255, 153, 0)
}

.border:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.border:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
}


table, tr{
    border-bottom: 2px rgb(255, 153, 0) solid;
    border-collapse: collapse;
}

table, tr:last-child {
    border-bottom: none;
}

.totalContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.remove {
    font-size: 15px;
    cursor: pointer;
    border: 1px solid;
    background-color: rgb(255, 153, 0);
    padding: 0px 5px;
    border-radius: 10px;
}

.remove:hover {
    cursor: pointer;
    background-color: rgb(109, 72, 5);
}

@media (max-width: 600px) {
    .cartItem > div > img {
        width: 45px;
        height: auto;
    }

    .border {
        border: 1px black solid;
        padding: 1px 5px;
    }

    .remove {
        font-size: 10px;
        padding: 0px 3px;
    }
}